/*-------------------------------------------*/
/*-------------- Especificidade -------------*/
/*-------------------------------------------*/

/*
#meu-paragrafo {
    background-color: blueviolet;
}

.conteiner-cascata p {
    background-color: aqua
        !important
    ;
}


p {
    background-color: red;
}*/

/* 0.0.1*/

/*No efeito cascata a especificidade se destaca sempre
(!important) é o usado no maior escalão de especificidade usado
em ultimos casos*/

/* ----------------------------------------------------*/
/* -------------------- TEXT ALIGN --------------------*/
/* ----------------------------------------------------*/

/*
.fundo-alinhado {
    background-color: rgb(199, 199, 199);
    padding: 20px;
}

.alinhamento-esquerda {
    text-align: left;
}

.alinhamento-direita {
    text-align: right;
}

.alinhamento-centro {
    text-align: center;
}

.alinhamento-justificado {
    text-align: justify;
}

.maiusculo {
    text-transform: uppercase;
}

.minusculo {
    text-transform: lowercase;
}

.capitalizado {
    text-transform: capitalize;
}

.sublinhado {
    text-decoration: underline;
}

.linha-sobreposta {
    text-decoration: line-through;
}

.sem-text-decoration {
    text-decoration: none;
}

.sombra {
    text-shadow: 10px 10px 1px #808080;
}
*/


/*-------------------------------------------------------*/
/*-----------------Propriedades Fontes-------------------*/
/*-------------------------------------------------------*/

/*
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family:'Courier New', Courier, monospace;    
    font-size: 20px;
    font-weight: bold;
}
*/


/*-------------------------------------------------------*/
/*-------------------------Links-------------------------*/
/*-------------------------------------------------------*/

/*

a {
    cursor: progress;
    margin: 20px;
    padding: 10px;
}

a:visited {
    color: orange;
}

a:active {
    color: red;
}

a:hover {
    background-color: red;
    color: white;
}

*/

/*-------------------------------------------------------*/
/*-------------------------Listas------------------------*/
/*-------------------------------------------------------*/

